<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>🤖画像認識AI君🤖</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <!-- ナビゲーションバーを作成する -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand " href="{{ url_for('detector.index') }}">🤖画像認識AI君🤖</a>
            <!-- 画像検索フォームを追加する -->
            {% if url_for(request.endpoint) == url_for('detector.index') or
            url_for(request.endpoint) == url_for('detector.search') %}
            <div class="btn-group">
                <form method="GET" action="{{ url_for('detector.search') }}" name="dtSearchForm">
                    {% if request.args.get("search") %}
                    <input type="search" id="dt-search" class="form-control col-md-12 dt-search" placeholder="タグの検索"
                        name="search" value="{{ request.args.get('search') }}" />
                    {% else %}
                    <input type="search" id="dt-search" class="form-control col-md-12 dt-search" placeholder="タグの検索"
                        name="search" />
                    {% endif %}
                </form>
            </div>
            {% endif %}
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{ url_for('crud.edit_user', user_id=current_user.id) }}" 
                    class="nav-link">
                    {{ current_user.username }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link">ログアウト</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">新規登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">ログイン</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- block contentをsection class="container"で囲む -->
    <section class="container">
        {% block content %}{% endblock %}
    </section>
</body>

</html>